{
  "root": true,
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["react", "prettier"],
  "env": {
    "es6": true,
    "browser": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-console": "warn",
    "no-eval": "error"
  },
  "ignorePatterns": ["/config", "/node_modules", "/build"]
}
